@model Detail_Website
@{
    ViewData["Title"] = "寶可夢清單";
    List<PokemonList> pl = ViewBag.PokemonList;
    int TotalPage = ViewBag.TatolPage;
    int Page = 1;
    if (ViewBag.Page > 1)
    {
        Page = ViewBag.Page;
    }
    int LastPage = Page - 1;
    int NextPage = Page + 1;
    int StartPage = 0;
    int EndPage = 0;
    if (Page <= 5)
    {
        StartPage = 1;
        EndPage = TotalPage >= 10 ? 10 : TotalPage;
    }
    else if (Page > 5 && Page + 5 <= TotalPage)
    {
        StartPage = Page - 5;
        EndPage = Page + 5;
    }
    else if (TotalPage - Page < 5)
    {
        StartPage = TotalPage - 9;
        EndPage = Page + (TotalPage - Page);
    }
}
@if (pl.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.PokemonList.No)
                </td>
                <td>
                    @Html.DisplayNameFor(Model=>Model.PokemonList.Image)
                </td>
                <td>
                    @Html.DisplayNameFor(Model=>Model.PokemonList.TwName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model=>Model.PokemonList.JpName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model=>Model.PokemonList.EnName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model=>Model.PokemonList.Type_1)
                </td>
                <td>
                    @Html.DisplayNameFor(Model=>Model.PokemonList.Type_2)
                </td>
                <td>
                    編輯
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (PokemonList pok in pl)
            {
                <tr>
                    <td>
                        <label asp-for="@pok.No">@pok.No</label>
                    </td>
                    <td>
                        @if (@pok.Image != null)
                        {
                            <img src="@pok.Image" asp-append-version="true" width="50" height="50">
                        }
                    </td>
                    <td>
                        <label asp-for="@pok.TwName">@pok.TwName</label>
                    </td>
                    <td>
                        <label asp-for="@pok.JpName">@pok.JpName</label>
                    </td>
                    <td>
                        <label asp-for="@pok.EnName">@pok.EnName</label>
                    </td>
                    <td>
                        <img src="@pok.Type_1_Img" asp-append-version="true" width="50" height="50">
                    </td>
                    <td>
                        @if (@pok.Type_2_Img != null)
                        {
                            <img src="@pok.Type_2_Img" asp-append-version="true" width="50" height="50">
                        }
                    </td>
                    <td>
                        <a href="~/Pokemon/PokemonEdit?id=@pok.No&page=@Page" class="btn btn-outline-info">編輯</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (TotalPage > 0)
    {
        <form asp-controller="Pokemon" asp-action="Detail">
            <div class="row justify-content-center">
                <div class="col-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @if (Page == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous" asp-page="/Detail" asp-route-SelectPage="@LastPage">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            @if (Page > 6)
                            {
                                <li class="page-item"><a class="page-link" asp-page="/Detail" asp-route-SelectPage="1">1</a></li>
                                <li class="page-item">......</li>
                            }
                            @for (int i = 1; i <= TotalPage; i++)
                            {
                                @if (i == Page)
                                {
                                    <li class="page-item disabled"><a class="page-link">@i</a></li>
                                }
                                else
                                {
                                    @if (i >= StartPage && i <= EndPage)
                                    {
                                        <li class="page-item"><a class="page-link" asp-page="/Detail" asp-route-SelectPage="@i">@i</a></li>
                                    }
                                    else if (i == Page)
                                    {
                                        <li class="page-item disabled"><a class="page-link">@i</a></li>
                                    }
                                }

                            }
                            @if (TotalPage - Page > 6)
                            {
                                <li class="page-item">......</li>
                                <li class="page-item"><a class="page-link" asp-page="/Detail" asp-route-SelectPage="@TotalPage">@TotalPage</a></li>
                            }
                            @if (Page == TotalPage)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" asp-page="/Detail" asp-route-SelectPage="@NextPage">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </form>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        查無資料
    </div>
}





@section SiderBar{
    @{
        await Html.RenderPartialAsync("~/Sidebar/S_Pokemon.cshtml");
    }
}